* {
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
}

#router-outlet {
    width: 100vw;
    height: 100vh;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-default {
    padding: 0.5rem;
}

.buttons-container {
    display: flex;
    gap: 3rem;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.searchbar {
    height: 2rem;
    width: 50rem;
    padding: 0.5rem;
}

.search-results-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.search-results-table {
    border-collapse: collapse;
}

.search-results-table th, .search-results-table td {
    border: solid black 1px;
    padding: 0.5rem;
}

.search-results-table ul {
    list-style: none;
}

.view-document-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}